
/*-- -------------------------- -->
<---           builds two columns
<--- -------------------------- -*/
/* simple 2 column split 
works with <div class="column"> section*/
.row {
  display: flex;
}

.styled-table {
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 0px auto;
}

table, th, td {
  border: 5px;
  border-collapse:separate;
  border-radius:6px;
}

th, td {
  padding: 5px;
  
}