@font_family_1: sans-serif;



.row {
	display: flex;
}
.styled-table {
	margin: 25px 0;
	font-size: 0.9em;
	font-family: @font_family_1;
	min-width: 30px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	margin: 0px auto;
}
table {
	border: 5px;
	border-collapse: separate;
	border-radius: 6px;
	-moz-border-radius: 6px;
}
th {
	border: 5px;
	border-collapse: separate;
	border-radius: 6px;
	-moz-border-radius: 6px;
	padding: 5px;
}
td {
	border: 5px;
	border-collapse: separate;
	border-radius: 6px;
	-moz-border-radius: 6px;
	padding: 5px;
}
